<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

        <appSettings>
          <add key="WeiXin_appID" value="wxd4bdcef094cca006" />
          <add key="WeiXin_appsecret" value="774da5284911073cb443e0f396ca7651" />
          <add key="WeiXin_CallBackURL" value="http://huruntang.ljsprayer.com/WxCallBack.ashx" />
          <add key="ConnectionString" value="Data Source=|DataDirectory|\SiteBase.db;Integrated Security=True;User Instance=True" />
          <add key="znmDB" value="" />
        </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        
    </system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
